#employees tbody tr {
    cursor: pointer !important;
    transition: background-color 0.2s ease-in-out;
}
table.dataTable tbody tr:hover {
    background-color: rgba(242, 242, 242, 0.8) !important; /* not working */
}