<!DOCTYPE html>
<html lang="en">
{% load static %} <!--for rendering-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Patient Monitoring and Management System</title>
</head>
<body>
    <div class="login-page">
        <div class="title-container">
            <h1 class="page-title">Patient Monitoring and Management System</h1>
            <div class="divider"></div>
        </div>
        <h2 class="login-title">Login</h2>
        <div class = user-types>
            <p class="login-p">Choose your type of user and enter details to sign in to your account</p>
            <div class="login-user">
                <div class="admin user-circle"></div>
                <div class="nurse user-circle"></div>
            </div>
        </div>
        <div class="login-details">
            <img src="{% static 'images/left-arrow.png' %}" alt="Back" class="back-arrow">
            <div class="details-container">
                <div class ="admin-details">
                    <p>SREEN FOR ADMIN</p>
                </div>
                <div class="nurse-details">
                    <p>SCREEN FOR NURSE</p>
                </div>
            </div>
        </div>
        <p class="create-account"><a href="{% url 'signup' %}">Create new account</a></p>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>