<!DOCTYPE html>
<html lang="en">
{% load static %} <!--for rendering-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Patient Monitoring and Management System</title>
</head>
<body>
    <div class="login-page">
        <div class="title-container">
            <h1 class="page-title">Patient Monitoring and Management System</h1>
            <div class="divider"></div>
        </div>
        <h2 class="login-title">Login</h2>
        <p class="login-p">Enter your details to sign in to your account</p>
        <div class="login-details">
            <div class="login-left">
                <i class="icon">🔒</i>
            </div>
            <div class="login-right">
                <form>
                    <input type="text" placeholder="Employee ID" required>
                    <input type="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
        <p class="create-account"><a href="{% url 'signup' %}">Create new account</a></p>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>