<!DOCTYPE html>
<html lang="en">
{% load static %} <!--for rendering-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Patient Monitoring and Management System</title>
</head>
<body>
    <div class="login-page">
        <h1 class="page-title">Patient Monitoring and Management System</h1>
        <h2 class="login-title">Login</h2>
        <p class="login-p">Who are you logging in as? Choose your role and sign in to your account</p>
        <div class="login-user">
            <div class="admin"></div>
            <div class="nurse"></div>
        </div>
        <div class="login-details">
    
        </div>
    </div>
</body>
</html>