<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse</title>
    <link rel="stylesheet" href="{% static 'css/nurse.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!--table-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--qr-->
    <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
    <!--phone number-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
</head>
<body>
    <div class="nurse-header">
        <h1>Welcome, Nurse!</h1>
        <button id="logoutButton" class="logout-btn">Logout</button>

        <!-- Tab Navigation -->
        <ul class="nav nav-tabs" id="patient_list" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="patient-list-tab" data-bs-toggle="tab" data-bs-target="#patient_tab" type="button" role="tab" aria-controls="patient_tab" aria-selected="true">
                    Patient
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="nurse-logs-tab" data-bs-toggle="tab" data-bs-target="#nurse-logs" type="button" role="tab" aria-controls="logs" aria-selected="false">
                    Logs
                </button>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content-container">
        <div class="tab-content p-5" id="nurse-page">
            <!-- Patient Tab Content -->
            <div class="tab-pane fade show active" id="patient_tab" role="tabpanel" aria-labelledby="patient-list-tab">
                <!-- QR Code Scanning Section -->
                <div class="scan-section text-center mb-4">
                    <div class="scan-icon mb-2">
                        <i class="fas fa-qrcode fa-5x"></i>
                    </div>
                    <button id="scan_qr" class="btn btn-primary">Scan QR Code</button>
                    <div id="qr-reader" style="width: 500px; display: none; margin: 20px auto;"></div>
                    <div id="qr-reader-results"></div>
                </div>

                <button id="admit_patient" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#patientModal">
                    Admit Patient
                </button>

                <!-- Modal Structure -->
                <div class="modal fade" id="patientModal" tabindex="-1" aria-labelledby="patientModalLabel" aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="patientModalLabel">Admit New Patient</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="patientAdmissionForm">
                                    <label for="patientName" class="form-label">Basic Information:</label>
                                    <div class="mb-3">
                                        <label for="patientName" class="form-label">Full Name</label>
                                        <input type="text" class="form-control" id="patientName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="sex" class="form-label">Sex</label>
                                        <select class="form-select" id="patientSex" required>
                                            <option value="" selected disabled>Select Sex</option>
                                            <option value="General">Female</option>
                                            <option value="Pediatrics">Male</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="patientBirthday" class="form-label">Birthday</label>
                                        <input type="date" class="form-control" id="patientBirthday" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="patientPhone" class="form-label">Phone Number</label>
                                        <div class="input-group mb-2 w-100">
                                            <input class="form-control" id="phone_number_patient" type="tel" placeholder="Phone Number" pattern="[0-9]*" inputmode="numeric" required>
                                        </div>  
                                    </div>  
                                    <div class="mb-3">
                                        <label for="patientStatus" class="form-label">Status</label>
                                        <select class="form-select" id="patientStatus" required>
                                            <option value="" selected disabled>Select Status</option>
                                            <option value="Inpatient">Inpatient</option>
                                            <option value="Outpatient">Outpatient</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="patientWard" class="form-label">Ward</label>
                                        <select class="form-select" id="patientWard" required>
                                            <option value="" selected disabled>Select Ward</option>
                                            <option value="General">General Ward</option>
                                            <option value="Pediatrics">Pediatrics</option>
                                            <option value="ICU">Intensive Care Unit</option>
                                            <option value="Maternity">Maternity Ward</option>
                                            <option value="Maternity">None</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="savePatientBtn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- QR Code Display Modal -->
                <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog">
                <div class="modal-content" tabindex="-1">  <!-- Added tabindex here -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="qrCodeModalLabel">Patient QR Code</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div id="qrCodeImageContainer">
                            <!-- QR code image will be inserted here -->
                             <!--img src="" class="qr-wristband" alt="Patient ID QR Code"-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="printQrBtn">Print QR Code</button>
                        <!--button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button-->
                    </div>
                </div>
                </div>
                </div>

                <!--TABLE-->
                <table id="patient" class="table table-striped mt-3" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Ward</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-patient-id="1" data-patient-name="namepatient" data-patient-ward="None" data-patient-status="Outpatient">
                            <td>1</td>
                            <td>Namepatient</td>
                            <td>None</td>
                            <td>Outpatient</td>
                        </tr>
                        <tr data-patient-id="2" data-patient-name="namepatient2" data-patient-ward="ICU" data-patient-status="Inpatient">
                            <td>2</td>
                            <td>namepatient2</td>
                            <td>ICU</td>
                            <td>Inpatient</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Logs Tab Content -->
            <div class="tab-pane fade" id="nurse-logs" role="tabpanel" aria-labelledby="logs-tab">
                <table id="nurse-logs" class="table table-striped mt-3" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date/Time</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sample only</td>
                            <td>sample</td>
                        </tr>
                        <tr>
                            <td>sample1</td>
                            <td>sample1</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        </div>


        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--table-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <!--phone num-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script src="{% static 'js/logout.js' %}"></script>
    <script src="{% static 'js/nurse.js' %}"></script>
</body>